<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <main>
      <div
        class="mt-5 mb-5 d-flex flex-column justify-content-center align-items-center container">
        <h1>Crear Producto</h1>
        <form
          id="createProductForm"
          method="post"
          action="/productos/dataNewProd"
          class="row mt-4 w-50 d-flex align-items-center justify-content-center">
          <div class="col-md-12 mb-3">
            <label for="name" class="form-label">Nombre del Producto</label>
            <input
              placeholder="Ejemplo: Pantalon de Jean"
              type="text"
              class="form-control"
              id="name"
              name="name"
              required />
          </div>
          <div class="col-md-12 mb-3">
            <label for="price" class="form-label">Precio</label>
            <input
              placeholder="Ejemplo: $ 5000"
              type="number"
              class="form-control"
              id="price"
              name="price"
              required />
          </div>
          <div class="col-md-12 mb-3">
            <label for="stock" class="form-label">Cantidad</label>
            <input
              placeholder="Ejemplo: 10"
              type="number"
              class="form-control"
              id="stock"
              name="stock"
              required />
          </div>
          <div class="col-md-12 mb-3">
            <label for="category" class="form-label">Categoria</label>
            <select name="category" id="category" class="form-select" required>
              <option selected>-- Seleccionar Categoria --</option>
              <option value="camisetas">Camisetas</option>
              <option value="pantalones">Pantalones</option>
              <option value="bermudas">Bermudas</option>
              <option value="zapatillas">Zapatillas</option>
            </select>
          </div>
          <div class="col-md-12 mb-3">
            <label for="size" class="form-label">Talle</label>
            <select name="size" id="category" class="form-select" required>
              <option selected>-- Seleccionar Talle --</option>
              <option value="s">S</option>
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
            </select>
          </div>
          <div class="col-md-12 mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea
              placeholder="Breve Descripción"
              type="text"
              rows="4"
              class="form-control"
              id="description"
              name="description"
              required></textarea>
          </div>
          <button type="submit" class="btn btn-dark w-25">Crear</button>
        </form>
      </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/editCreateProduct.js"></script>
  </body>
</html>
