<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <main class="container">
      <section
        class="row w-100 p-3 d-flex justify-content-center align-items-center">
        <img
          class="col-md-6 imgDetail"
          src="/img/camisetas/camisetaNegra.jpg"
          alt="" />

        <div
          class="col-md-6 d-flex flex-column align-items-center justify-content-center">
          <h2>Camiseta Negra Lisa</h2>
          <p>
            Descubre la versatilidad y el estilo atemporal de nuestra Camiseta
            Negra Lisa. Dise침ada para ofrecer comodidad y elegancia en cualquier
            ocasi칩n, esta prenda b치sica se convertir치 en un elemento esencial de
            tu guardarropa.
          </p>
          <h5>$ 40.000</h5>
          <p><b>$ 35.000</b> con Transferencia bancaria</p>
          <p>6 cuotas sin interes de $ 6.666,67</p>

          <div class="addAndCount">
            <div
              class="btn-group itemCount"
              role="group"
              aria-label="Basic example">
              <button type="button" class="btn btn-dark">+</button>
              <button type="button" class="btn btn-light">0</button>
              <button type="button" class="btn btn-dark">-</button>
            </div>

            <button type="button" class="btn btn-dark">
              Agregar al carrito
            </button>
          </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %><%- include('../partials/wsp') %> 
    <script src="/js/products.js"></script>
    <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
  </body>
</html>
