* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

p,
a,
h3,
h4,
h5,
h6,
label,
input {
  font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
li {
  font-family: 'Anton SC', sans-serif;
}

main {
  min-height: 60vh;
}

/* HEADER */
header {
  background-color: black;
  position: sticky;
  z-index: 5;
  top: 0;
}

header nav div .nav-links .icons-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav div .nav-links ul .nav-item a {
  transition: color 0.3s ease-in-out;
}

header nav div .nav-links ul .nav-item a:hover {
  color: rgb(170, 170, 170);
}

header nav div .nav-links .icons-header a i {
  transition: color 0.3s ease-in-out;
}

header nav div .nav-links .icons-header a i:hover {
  color: rgb(170, 170, 170);
}

/* FOOTER */

footer {
  height: 20vh;
  background-color: black;
}

footer .payments .method {
  width: 200px;
}

footer .payments .method img {
  width: 50px;
  height: 30px;
}

footer .ubi iframe {
  width: 250px;
  height: 150px;
}

footer .copy {
  height: auto;
  background-color: rgb(218, 211, 211);
  font-size: 15px;
}

.wsp-sticky {
  position: fixed;
  bottom: 50px;
  right: 30px;
  font-size: 30px;
  border-radius: 50px;
  transition: transform 0.2s ease-in-out box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.wsp-sticky:hover {
  transform: scale(1.02);
  border-color: #28a745;
  box-shadow: 0 0 10px rgba(6, 59, 19, 0.6);
}
