* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

p,
a,
h3,
h4,
h5,
h6,
label,
input {
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
li {
  font-family: "Anton SC", sans-serif;
}

main {
  min-height: 60vh;
}

/* HEADER */
header {
  position: sticky;
  z-index: 5;
  top: 0;
}
.iconsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* INDEX */

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.01);
}

.product img {
  height: 300px;
  width: 250px;
}

.categories article {
  transition: all 0.25s ease-in-out;
}

.categories article:hover {
  transform: scale(1.01);
}

.categories article h4 {
  top: 50px;
  color: rgb(121, 121, 121);
}

.categories article .category img {
  width: 387px;
  height: 450px;
}

/* FOOTER */

footer {
  height: 20vh;
}

.payments .method {
  width: 200px;
}

.payments .method img {
  width: 60px;
  height: 35px;
}

.ubi iframe {
  width: 350px;
  height: 200px;
}

.copy {
  height: 40px;
  background-color: rgb(218, 211, 211);
}

.wspSticky {
  position: sticky;
  bottom: 70px;
  left: 1800px;
  font-size: 50px;
  border-radius: 50px;
}

/* PRODUCTS */

.exitFilterBtn {
  visibility: hidden;
}
.filterBtns {
  display: none;
}

.productFiltered {
  width: 75%;
  max-height: 500px;
  overflow-y: auto;
}

.productFiltered::-webkit-scrollbar {
  display: none;
}

.mainProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PRODUCT DETAIL */

.imgDetail {
  height: 550px;
}

/* CART */

.productsCart {
  overflow-y: scroll;
  max-height: 400px;
}

.cartProductsTotal {
  display: flex;
}

.productCart {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productCart img {
  width: 100px;
  height: 100px;
}

/* LOGIN REGISTER*/

.error {
  font-size: 13px;
}

@media (max-width: 768px) {
  .mainProduct {
    flex-direction: column;
  }

  .filterBtns {
    display: block;
  }

  aside {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.932);
    width: 100%;
    color: white;
    top: 126px;
  }

  .productFiltered {
    width: 100%;
    max-height: auto;
  }

  .exitFilterBtn {
    visibility: visible;
  }

  .filterTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .imgDetail {
    height: 400px;
  }
}
