<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main class="animate__animated animate__slideInDown">
      <div
        class="d-flex flex-column align-items-center col-md-12 mt-5 p-2 text-center">
        <p>
          <strong
            >¿Qué formas de pago puedo aprovechar para realizar mi
            compra?</strong
          >
        </p>
        <p>
          Disponemos de los siguientes medios de pago:<br />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/amex@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/diners@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/cabal@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/tarjeta-naranja@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/tarjeta-shopping@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/argencard@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/cencosud@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" />
          <img
            alt=""
            class="user-page-logos"
            src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/rapipago@2x.png" />
        </p>
        <p>
          También podés abonar mediante transferenia bancaria y por Mercadopago.
          Si sos de Capital Federal y alrededores, también podés abonar en
          efectivo al recibir el producto (vía motomensajería).
        </p>
        <p><strong>¿Cuál es el costo de envío?</strong></p>
        <p>
          El costo de envío será mostrado en base al total de la compra y
          ubicación, en el checkout, en el momento previo a la compra.
        </p>
        <p><strong>¿Cómo se realizan los envíos?</strong></p>
        <p>
          Para envíos al interior del país, contamos con el servicio de correo
          de Andreani. Y si residis en Capital Federal y alrededores, podés
          optar por la opción de motomensajería.
        </p>
        <p><strong>¿Dónde puedo recibir mi pedido?</strong></p>
        <p>
          Realizamos envíos a todo el país y, también podés venir a conocernos a
          nuestro local físico ubicado Gorriti 4955, C1414BJO CABA..
        </p>
        <p><strong>¿Cuánto tarda en llegar el pedido?</strong></p>
        <p>
          El tiempo de entrega dependerá del tipo de envío seleccionado. En
          general la demora se encuentra entre 3 y 7 días hábiles luego de
          acreditado el pago.
        </p>
        <p><strong>¿Cuál es el plazo para realizar un cambio?</strong></p>
        <p>
          Puedes solicitar un cambio hasta 30&nbsp;días (corridos) luego de
          realizada la compra.
        </p>
        <p><strong>¿Debo pagar el envío para el cambio?</strong></p>
        <p>
          El envío del cambio de las prendas corre por cuenta del cliente. En
          caso que desde nuestra marca te llegue un producto o talle erróneo,
          nosotros nos hacemos cargo del costo.
        </p>
        <p><strong>¿Cómo son las políticas de cambio?</strong></p>
        <p>
          Podés efectuar el cambio dentro de los 30 días corridos y el mismo
          puede ser por talle, modelo o color, también tenés la posibilidad de
          cambiarlo por cualquier otro producto de la tienda. Nuestras políticas
          de cambio
          <strong
            >no acepta reintegros o devoluciones por arrepentimiento del
            cliente</strong
          >; ésta opción sólo es válida si por nuestra parte no podemos cumplir
          con la venta del producto.
        </p>
        <p>
          <strong
            >¿Qué debo hacer si el producto no llega en buen estado?</strong
          >
        </p>
        <p>
          Ponte en contacto con nosotros al 1166531754 y te enviaremos uno
          nuevo.
        </p>
        <p><strong>¿Cómo se cuál es mi talle?</strong></p>
        <p>
          Si bien nuestra tienda cuenta con una tabla de talles estandar, cada
          producto dentro de su descripción cuenta con la tabla de medidas
          correspondiente, ya que ésta varía según el corte, modelo y confección
          de la prenda.
          <strong>SI TENES DUDAS, AVISANOS AL 1166531754</strong> y te
          asesoramos sin problema!
        </p>
      </div>
    </main>

    <%- include('partials/footer') %> <%- include('partials/wsp') %>
    <script src="/js/products.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>
