<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superlative</title>
    <link rel="icon" href="./superlativeLogo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <header>
    
        <div class="logoContainer">
    
            <a href="./index.html"><img src="./superlativeLogo.jpg" alt="Logo"> </a>
    
            <a href="./index.html">
                <h1>Superlative</h1>
            </a>
    
        </div>
    
    
        <nav>
    
            <div class="search">
    
                <i class='bx bx-search'></i>
                <input placeholder="Busca tu prenda..." type="text">
    
            </div>
    
            <ul class="navbar">
    
                <li class="navItem"><a href="./index.html">Inicio</a></li>
                <li class="navItem"><a href="./product.html">Productos</a></li>
                <li class="navItem"><a href="./us.html">Nosotros</a></li>
                <li class="navItem"><a href="./faq.html">Preguntas Frecuentes</a></li>
    
            </ul>
    
        </nav>
    
        <div class="cartAndLogFont">
    
            <div class="cartFont">
    
                <a href="./cart.html"><i class='bx bx-cart'></i></a>
                <p>10</p>
    
            </div>
    
    
    
            <a href="./login.html"><i class='bx bx-user'></i></a>
    
        </div>
    
    </header>

    <main class="mainDetail">
        
        <section class="detail">

            <img src="./camisetaNegra.jpg" alt="">

            <div class="productDetail">

                <h2>Camiseta Negra Lisa</h2>
                <p>Descubre la versatilidad y el estilo atemporal de nuestra Camiseta Negra Lisa. Diseñada para ofrecer comodidad y
                 elegancia en cualquier ocasión, esta prenda básica se convertirá en un elemento esencial de tu guardarropa.</p>
                <h5>$ 40.000</h5>
                <p><b>$ 35.000</b> con Transferencia bancaria</p>
                <p>6 cuotas sin interes de $ 6.666,67</p>

                <div class="addAndCount">

                <div class="btn-group itemCount" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark">+</button>
                    <button type="button" class="btn btn-light">0</button>
                    <button type="button" class="btn btn-dark">-</button>
                
                </div>
 
                <button type="button" class="btn btn-dark">Agregar al carrito</button>

                </div>
            
            </div>
            
        </section>
        
        <h1>Tambien te puede interesar</h1>

        <section class="interes">

        <a href="./productDetail.html">
        
            <article class="product ">
                <img src="./poloGris.jpg" alt="poloGris">
        
                <div class="productInfo">
        
                    <h4>Polo Gris</h4>
                    <div class="productPrice">
                        <p>$ 40.000,00</p>
                        <p class="cuotas"><b>3 cuotas sin interes de $ 10.000,00 </b></p>
                    </div>
        
                </div>
            </article>
        
        </a>

        <a href="./productDetail.html">
        
            <article class="product ">
                <img src="./cargoPana.jpg" alt="cargoPana">
        
                <div class="productInfo">
        
                    <h4>Polo Gris</h4>
                    <div class="productPrice">
                        <p>$ 40.000,00</p>
                        <p class="cuotas"><b>3 cuotas sin interes de $ 10.000,00 </b></p>
                    </div>
        
                </div>
            </article>
        
        </a>
        
        <a href="./productDetail.html">
        
            <article class="product ">
                <img src="./musculosa.jpg" alt="musculosa">
        
                <div class="productInfo">
        
                    <h4>Polo Gris</h4>
                    <div class="productPrice">
                        <p>$ 40.000,00</p>
                        <p class="cuotas"><b>3 cuotas sin interes de $ 10.000,00 </b></p>
                    </div>
        
                </div>
            </article>
        
        </a>
        
        <a href="./productDetail.html">
        
            <article class="product ">
                <img src="./jeanStraight.jpg" alt="jeanStraight">
        
                <div class="productInfo">
        
                    <h4>Polo Gris</h4>
                    <div class="productPrice">
                        <p>$ 40.000,00</p>
                        <p class="cuotas"><b>3 cuotas sin interes de $ 10.000,00 </b></p>
                    </div>
        
                </div>
            </article>
        
        </a>


        </section>
        

    </main>

    <footer>
    
        <div class="footerData">
    
            <section class="socialRed">
    
                <div class="Ig">
    
                    <a href=""><i class='bx bxl-instagram-alt'></i> superlative_</a>
    
                </div>
                <div class="fb">
    
                    <a href=""><i class='bx bxl-facebook-circle'></i> SuperlativeTM</a>
    
                </div>
                <div class="tiktok">
    
                    <a href=""><i class='bx bxl-tiktok'></i> _superlative</a>
    
                </div>
    
            </section>
    
            <section class="paymentMethod">
    
                <h4>Medios de Pago</h4>
    
                <div class="method">
    
                    <img src="./visa.png" alt="visa">
                    <img src="./mastercard.jpg" alt="mastercard">
                    <img src="./amex.svg" alt="amex">
                    <img src="./mercadoPago.jpg" alt="mercadoPago">
                    <img src="./galicia.png" alt="galicia">
                    <img src="./bbva.png" alt="bbva">
                    <img src="./santander.jpg" alt="santander">
                </div>
    
            </section>
    
    
    
            <section class="ubication">
    
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.577970067169!2d-58.433169423504076!3d-34.58954375675093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5885b90631d%3A0xd853651841450b3e!2sGorriti%204955%2C%20C1414BJO%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1720729893198!5m2!1ses!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
    
            </section>
    
            <section class="contacts">
    
                <h6>superlative2024@gmail.com</h6>
                <div class="wsp">
    
                    <a href=""><i class='bx bxl-whatsapp-square'></i> 1150620957</a>
    
                </div>
                <h6>Gorriti 4955, C1414BJO CABA.</h6>
    
            </section>
    
        </div>
    
        <div class="copy">
    
            <P>Copyright Superlative - 30718039947 - 2024. Todos los derechos reservados. Defensa de las y los consumidores.
                Para reclamos
                <a href="https://autogestion.produccion.gob.ar/consumidores">ingresá acá.</a>
            </P>
    
        </div>
    
    
    </footer>
    
</body>
</html>