<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main class="animate__animated animate__slideInDown">
      <div
        class="p-5 d-flex flex-column justify-content-center align-items-center">
        <div>
          <p>
            En 2016, con una idea y muchas ganas de crecer, dimos orígen a esta
            marca. Sin saber nada del rubro, uno trabajando de kinesiólogo y
            otro en una empresa, le metimos para adelante. Dejamos nuestros
            laburos y nos arriesgamos para abocarnos de lleno a nuestra visión,
            que hoy, luego de 7 años, sigue creciendo y llegando a más personas
            de las que nos hubiésemos imaginado.
          </p>
          <p>
            Desde el principio, quisimos hacer una marca que no se encerrara en
            ningún lugar, que vaya desde el ruido de la ciudad hasta lo
            desconocido de lo salvaje. Superlative es para el buscador de
            experiencias, para la vida misma. Nuestra ropa propone que tanto
            hombres como mujeres sean libres de vestirla con identidad y
            personalidad. En eso nos basamos, en la versatilidad, anticipándonos
            y adaptándonos a lo que viene pero sin apartarnos de las raíces de
            lo clásico, de lo que fue.
          </p>
          <p>
            Superlative creció junto a nosotros y ahora contamos con un gran
            equipo para seguir expandiéndose y continuar el camino que trazamos.
          </p>
          <p>
            Desde un showroom en el departamento de uno de los chicos, hoy
            contamos con venta online, y 1 local propio.
          </p>
          <p class="mb-5">
            Constantemente nos reinventamos ya que Superlative es eso, una
            continua renovación, adaptarse a lo que viene sin olvidar lo que
            fuimos, manteniendo vivo el fuego que nos impulsa a buscar
            experiencias, a crear lo nuevo.
          </p>
        </div>

        <div class="ceos text-center">
          <img src="/img/logos/ceos.jpg" alt="" />
          <p>Alejo Augusto Florentin y Juan Pablo Picallo Ceos</p>
        </div>

        <div class="team text-center">
          <img src="/img/logos/team.jpg" alt="" />
          <p>El team</p>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %> <%- include('partials/wsp') %>
    <script src="/js/products.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>
