<footer>
  <div
    class="w-100 p-3 mt-3 bg-black d-flex flex-row flex-wrap justify-content-evenly align-items-center bottom-0">
    <section
      class="p-3 d-flex flex-column justify-content-center align-items-start">
      <div class="Ig">
        <a class="text-decoration-none text-white" href=""
          ><i class="bx bxl-instagram-alt fs-2"></i> superlative_</a
        >
      </div>
      <div class="fb">
        <a class="text-decoration-none text-white" href=""
          ><i class="bx bxl-facebook-circle fs-2"></i> SuperlativeTM</a
        >
      </div>
      <div class="tiktok">
        <a class="text-decoration-none text-white" href=""
          ><i class="bx bxl-tiktok fs-3"></i> _superlative</a
        >
      </div>
    </section>

    <section
      class="p-3 payments d-flex flex-column justify-content-center align-items-center text-white">
      <h5>Medios de Pago</h5>

      <div
        class="method d-flex flex-row flex-wrap align-items-center justify-content-center">
        <img src="/img/logos/visa.png" alt="visa" />
        <img src="/img/logos/mastercard.jpg" alt="mastercard" />
        <img src="/img/logos/amex.svg" alt="amex" />
        <img src="/img/logos/mercadoPago.jpg" alt="mercadoPago" />
        <img src="/img/logos/galicia.png" alt="galicia" />
        <img src="/img/logos/bbva.png" alt="bbva" />
        <img src="/img/logos/santander.jpg" alt="santander" />
      </div>
    </section>

    <section
      class="p-3 ubi d-flex flex-column justify-content-center align-items-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.577970067169!2d-58.433169423504076!3d-34.58954375675093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5885b90631d%3A0xd853651841450b3e!2sGorriti%204955%2C%20C1414BJO%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1720729893198!5m2!1ses!2sar"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        class="rounded-2 img-fluid"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section
      class="p-3 d-flex flex-column justify-content-center align-items-center text-white">
      <h6>superlative2024@gmail.com</h6>
      <div class="wsp">
        <a
          class="text-decoration-none text-white"
          href="https://web.whatsapp.com/"
          ><i class="bx bxl-whatsapp-square text-success"></i> 1150620957</a
        >
      </div>
      <h6>Gorriti 4955, C1414BJO CABA.</h6>
    </section>
  </div>

  <div class="copy p-2 text-center">
    <p>
      Copyright Superlative - 30718039947 - 2024. Todos los derechos reservados.
      Defensa de las y los consumidores. Para reclamos
      <a href="https://autogestion.produccion.gob.ar/consumidores"
        >ingresá acá.</a
      >
    </p>
  </div>
</footer>

