<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center fs-1" href="/">
        <img
          src="/img/logos/superlativeLogo.jpg"
          alt="Logo"
          width="100"
          class="d-inline-block align-text-top"
        />
        Superlative </a
      ><button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/productos/">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/us">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/faq">Preguntas Frecuentes</a>
          </li>
        </ul>
        <div class="iconsHeader">
          <%if(locals.lastUser != undefined) {%>
          <a class="fs-3 text-white me-3" href="/usuarios/perfil"
            ><i class="bx bxs-user-circle"></i
          ></a>
          <% } %> <% if(locals.lastUser && locals.lastUser.category == 'admin') { %>
          <a class="fs-3 text-white me-3" href="/productos/crear"
            ><i class="bx bxs-add-to-queue"></i></a
          ><%}%> <%if(locals.lastUser == undefined) {%>
          <a class="fs-3 text-white me-3" href="/usuarios/login"><i class="bx bx-user"></i></a>
          <% } %>
          <div class="d-flex flex-row align-items-center me-2">
            <a class="fs-3 text-white" href="/carrito"><i class="bx bx-cart"></i></a>
            <p class="text-white" id="numerito" class="numerito"><%= carritoCantidad %></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
